[user]
	name = Penghe Geng
	email = penghe.geng@smith-nephew.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
    whitespace = -blank-at-eol
	editor = vim
[color]
	ui = true
[alias]
    tree3 = log --graph --decorate --abbrev-commit --branches=main --tags --remotes --date=short --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ai%x08%x08%x08%x08%x08%x08%Creset %C(yellow)%aN%C(bold green)%d%Creset %s %Creset'
    tree2 = log --graph --decorate --abbrev-commit --branches --tags --remotes --date=short --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ai%x08%x08%x08%x08%x08%x08%Creset %C(yellow)%aN%C(bold green)%d%Creset %s %Creset'
    co      = checkout
    b       = branch
    ci      = commit
    serve   = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
    stashu  = stash push --keep-index
[push]
	default = matching
[receive]
    denyCurrentBranch = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[pull]
	rebase = true
[mailmap]
	file = ~/.mailmap
