[user]
	name = Jason Geng
	email = gpenghe@gmail.com
[color]
	ui = true
[merge]
    keepBackup = false;
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[diff]
#    external = p4diff
[alias]
    # with author
    #tree2 = log --graph --decorate --abbrev-commit --branches --tags --remotes --date=short --pretty=format:'%C(yellow)%h%Creset-%C(cyan)(%ci %C(yellow)%an)%Creset%C(bold green)%d%Creset %s %Creset'
    # without author
    tree2 = log --graph --decorate --abbrev-commit --branches --tags --remotes --date=short --pretty=format:'%C(yellow)%h%Creset-%C(cyan)(%ai%x08%x08%x08%x08%x08%x08)%Creset%C(bold green)%d%Creset %s %Creset'
    ci = commit
    cia = commit -a
[core]
	excludesfile = /Users/gpenghe/.gitignore_global
